
{% include "cupboard/header.html" %}
{% load static %}

<div class="container">
    <h5>About the site</h5>
    <p> This site was designed by Jack Vanier after I started making granola bars from scratch for health reasons and wondered if I was also saving money this way. It is designed to tell you how much recipes cost to make. Still some pain points such as having to input all your food and prices manually. A few ways to mitigate this could be to parse some superstore websites for this data. Another pain point is needing to enter in the ingredients for the recipes. May be nice to parse online recipes for ingredients and import them.</p>
    <h5>About the Developer</h5>
    <p>I grew up in Windsor Ontario before moving to Saskatoon, SK for 2.5 years and then finally moving to Kitchener, ON. I had very little experience with web development which is why I decided to jump in and make a website. My next adventure will be trying to port this into an Android app. I decided to use Django since python is the language I am most familiar with.
    </p>
    <p>
        <span class="fa fa-linkedin" aria-hidden="true"></span>  <a href="https://www.linkedin.com/in/jack-vanier/">https://www.linkedin.com/in/jack-vanier/</a>
    </p>
    <p>
        <span class="fa fa-github" aria-hidden="true"></span>  <a href="https://github.com/jackrvan">https://github.com/jackrvan</a>
    </p>
</div>