<!doctype html>
{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'site/style.css' %}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
<header class="main-header py-3 mb-2">
    <div class="row align-items-center">
        <div class="col-4 pt-1">
            <a class="text-muted" href="{% url 'about' %}">About</a>
        </div>
        <div class="col-4 text-center">
            <a class="main-header-logo text-dark" href={% url 'index' %}>Mealcost</a>
        </div>
        <div class="col-3 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="{% url 'cupboard:index' %}">Cupboard</a>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="{% url 'recipe:index' %}">Recipes</a>
        </div>
    </div>
</header>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
