{% load static %}
{% load custom_template_tags %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'site/style.css' %}" />
</head>

<body>
    {% include "cupboard/header.html" %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4">Cupboard</h1>
                    <button id="create-item" class="btn btn-primary btn-lg" type="button" name='button'>Add new item</button>
                </div>
            </div>
        </div>
        {% if categories %}
            {% for category in categories %}
                {% get_category category as items_in_category %}
                <ul class="cursor-pointer list-group">
                    <li class="expand-items list-group-item active">{{ category|title }}</li>
                    <div class="hide=me">
                        {% for item in  items_in_category %}
                            <li class="list-group-item">
                                <a href="{% url 'cupboard:detail' item.id %}" class="item_list">{{ item.item_name }}</a>
                                <a href="{% url 'cupboard:delete_item' item.id %}">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            {% endfor %}
        {% else %}
            <p>You do not have any items in your cupboard.</p>
        {% endif %}
    <div>
</body>

<script type="text/javascript">
$(function() {
    $("#create-item").modalForm({
        formURL: "{% url 'cupboard:add_item' %}"
    });
});

$(".expand-items").click(function () {

    $content = $(this).next();
    $content.slideToggle(500)
});

</script>