<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'site/style.css' %}" />
<head>
    {% include "cupboard/header.html" %}
</head>
<body>
    <meta charset="UTF-8">
    <title>{{ item.item_name }} Detail</title>
    {{ item.item_name }}
    <br>
    <ul>
        {% if item.price_per_cup %}
            <li>${{ item.price_per_cup }}/Cup</li>
        {% endif %}
        {% if item.price_per_kg %}
            <li>${{ item.price_per_kg }}/Kg</li>
        {% endif %}
        {% if item.price_per_unit %}
            <li>${{ item.price_per_unit }}/Unit</li>
        {% endif %}
    </ul>
    {% if recipes %}
        <h2>Is ingredient in: </h2>
        <ul>
            {% for r in recipes %}
                <li><a href="{% url 'recipe:detail' r.id %}" class="item_list">{{ r.recipe_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This item is not a part of any saved recipes.</p>
    {% endif %}
</body>
</html>
