<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'site/style.css' %}" />
</head>

<body>
    {% include "cupboard/header.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4">{{ recipe.recipe_name }}</h1>
                    {% if ingredients %}
                        <ul class="list-group">
                            {% for ingredient, value in ingredients.items %}
                                {% if value.0 == "Cup" %}
                                    <li class="list-group-item">{{ ingredient.item_name }} (${{ ingredient.price_per_cup }}/{{ value.0 }}): 
                                        {{ value.0 }}s: {{ value.1 }}
                                    </li>
                                {% elif value.0 == "Kg" %}
                                    <li class="list-group-item">{{ ingredient.item_name }} (${{ ingredient.price_per_kg }}/{{ value.0 }}): 
                                        {{ value.0 }}s: {{ value.1 }}
                                    </li>
                                {% elif value.0 == "Unit" %}
                                    <li class="list-group-item">{{ ingredient.item_name }} (${{ ingredient.price_per_unit }}/{{ value.0 }}): 
                                        {{ value.0 }}s: {{ value.1 }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This recipe has no ingredients</p>
                    {% endif %}
                    {% if price %}
                        <h5>Total price of recipe: ${{ price }}</h5>
                    {% elif price_error %}
                        {{ price_error }}
                    {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
